name: ascat_windows

on:
  push:
  pull_request:
  schedule:
    - cron: '0 0 * * *' # daily

jobs:
  build:
    name: Build py${{ matrix.python-version }} @ ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        python-version: ['3.6']
        os: ['windows-latest']

    name: RT1_test ${{ matrix.os }}  ${{ matrix.python-version }}


    steps:
      - uses: actions/checkout@v2
        with:
          submodules: false # does not work with self-hosted testdata
      - name: Checkout Testdata
        shell: bash -l {0}
        run : |
          git submodule init
          git submodule update
      - uses: conda-incubator/setup-miniconda@v2.0.1
        with:
          miniconda-version: "latest"
          auto-update-conda: true
          python-version: ${{ matrix.python-version }}
          environment-file: environment.yml
          activate-environment: ascat_env
          auto-activate-base: false
      - name: Print environment infos
        shell: bash -l {0}
        run: |
          conda info -a
          conda list
          pip list
          which pip
          which python
      - name: Install package and test
        shell: bash -l {0}
        run: |
          pip install .
          python setup.py test
